.account-downNav-box > view {
  margin: 0 20rpx;
  color: #ffffff;
}

.account-downNav-box {
  display: flex;
  align-items: center;
  height: 273rpx;
}

.account-downNav-up {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-downNav-surplus-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.account-downNav-expense-title,
.account-downNav-surplus-title {
  font-size: 28rpx;
}

.account-downNav-expense-content,
.account-downNav-surplus-content{
  font-size: 40rpx;
  margin-top: 5rpx;
}

.account-downNav-income-box {
  width: 100%;

  position: absolute;
  bottom: 15rpx;
  font-size: 25rpx;
}

.account-downNav-income-box- {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.account-downNav-income-content {
  margin-left: 5px;
}
